/*
 * Reset stylesheet
 * */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*
 * General
 * */
body {
  background-color: #eeeeee;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  line-height: 1.25;
  padding: 0px;
  margin: 0px;
}
#container {
  max-width: 700px;
  margin-left: 10%;
}
a                { color:#00509f; text-decoration:none;}
a:visited        { color:#50509f}
a:hover          { color:#018}
a:visited:hover  { color:#018}
p {
  text-indent: 0.5em;
  padding-left: 0.5em;
}

/*
 * Header
 * */
header {
  background-color: #aaaaaa;
  padding: 5px 10px 5px 10px;
  -moz-border-radius:    0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius:         0px 0px 10px 10px;
}
header h1 {
  margin: 0;
  padding: 0;
}

/*
 * Menu
 * */
nav {
  margin-left: 1em;
  margin-right: 1em;
  float: left;
}
nav a {
  display: block;
}
nav div {
  margin-top: 1em;
}

/*
 * Main
 * */
main {
  float: left;
  max-width: 500px;
}

/*
 * Various
 * */
img[alt=Profile] {
  float: right;
  width: 300px;
  -moz-border-radius:    10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius:         10px 10px 10px 10px;
}
