.so-logo {
  display: flex;
  justify-content: right;
  margin: 0 1em;

  a { box-shadow: none; }

  img {
    padding: 0.2em 0em 0.2em 1em;
    margin: 0;
  }
}

.dark .so-logo {
  img {
    background-color: var(--primary);
  }
}
