<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Karl Yngve Lervåg">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="header">
          <span class="title">{{ page.title }}</span>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="wrapper">
        <nav>
          <div id="site">
            <a href="/">Home</a>
            <a href="/aboutme">About me</a>
            <a href="/projects">Projects</a>
            <a href="/publications">Publications</a>
          </div>
          <div id="contact">
            Karl Yngve Lervåg<br />
            <a class="email"
               href="mailto:karl.yngve+blog@gmail.com"
               target="blank">karl.yngve@gmail.com</a>

            <a href="https://github.com/lervag">Github</a>
            <a href="https://plus.google.com/u/0/+KarlYngveLervåg">Google+</a>
            <a href="http://no.linkedin.com/in/karlyngve">LinkedIN</a>
            <a href="https://www.researchgate.net/profile/Karl_Yngve_Lervag">
              Researchgate</a>
          </div>
        </nav>
        <main>
